@charset "EUC-KR";

.farm_intro {
    max-width: 1200px;
    margin: 2% auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.image_text_container {
    display: flex;
    align-items: center;
}

.image_container {
    flex: 0 0 50%;
    margin-right: 40px;
    position: relative;
}

.image_container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-description {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
}

.view_text_container {
    flex: 1;
}

.view_text_container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: -20px; /* 원하는 만큼 음수값으로 조정하여 내용을 위로 올림 */
}

.view_text_container p {
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

.view_text_container a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.contact-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
}

.contact-button:hover {
    background-color: #0056b3;
}


