@charset "EUC-KR";

.btn_post {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px; /* 필요에 따라 여백을 조절하세요 */
}

.cbv_head {
  border: none;
  border-radius: 20px;
  margin: 40px 0;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.cbv_main{
	display: flex;
}

#in_title {
    margin: 15px 0; /* 원하는 마진 값으로 조절 */
    position: relative;
}

.utitle {
    width: calc(100% - 10px);
    padding: 10px; /* 원하는 패딩 값으로 조절 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비/높이 설정 */
    border: 1px solid #ccc; /* 테두리 스타일 지정 */
    border-radius: 5px; /* 모서리를 둥글게 만듦 */
    font-size: 16px; /* 글꼴 크기 설정 */
    resize: none; /* 사용자가 크기를 조절하지 못하도록 설정 */
}


#charCount {
    margin-top: 5px; /* 글자 수 표시와 textarea 사이의 간격 조절 */
    color: #666; /* 글자 수 표시 색상 지정 */
    font-size: 12px; /* 글자 수 표시 글꼴 크기 설정 */
    position: absolute;
    bottom: 5px;
    right: 10px;
}

#in_content {
    position: relative;
    margin: 10px;
    width: 50%;
    height: 400px;
}

#ucontent {
    width: calc(100% - 10px);
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

#contentCharCount {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #666;
    font-size: 12px;
}



.image-container label {
    text-align: center;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-container label:hover {
    text-decoration: underline;
}

.image-container .remove-image {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: none;
}



.inner-container {
    max-width: 1000px; /* 최대 너비 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 마진 설정 */
    padding: 20px; /* 여백 설정 */
    height: 600px; /* 높이 설정 */
    overflow-y: auto; /* 스크롤 설정 */
}

.image-container {
    position: relative;
    width: 300px; /* 원하는 부모 요소의 너비 */
    height: 200px; /* 원하는 부모 요소의 높이 */
    border: 2px dashed #ccc;
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.image-container img {
    display: block;
    width: 100%;  /*이미지 컨테이너에 꽉 차게 표시 */
    height: auto;
}

.image-container {
    display: inline-block;
    margin: 10px;
    width: 50%;
    height: 400px;
    border: 2px dashed #ccc;
    position: relative;
    overflow: hidden;
}
